@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui;
    color: #243e63;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
    font-family: 'Inter', system-ui;
    background-color: #f0f0f0;
    color: #333;
}




.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.row__narrow {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.container {
    padding: 96px 0;
}

a {
    display: inline;
    text-decoration: none;
}

img {
    width: 100%;
}

h1 {
    font-size: 48px;
    color: #212732;
    line-height: 1.25;
}

.purple {
    color: #6415ff;
}

p {
    font-size: 18px;
    line-height: 1.5;
}
.section__title {
    font-size: 48px;
    font-weight: 900;
    color: rgba(6, 62, 99);
    line-height: 1.5;
    margin: 16px 0;
    letter-spacing: 0.025em;
}

section {
    padding: 0 32px;
}

main {
    margin-bottom: 96px;
}

.row {
width: 100%;
max-width: 1280px;
margin: auto 0;    
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


/* 

NAVBAR ↓

*/


nav {
    display: flex;
    padding-top: 32px;
}

.nav__row {
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}

.nav__logo--title {
    font-weight: 900;
    font-size: 24px;
    margin-left: 12px;
    padding-bottom: 2px;
    letter-spacing: 0.6px;
}

.nav__logo--img {
    height: 40px;
    width: 40px;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.nav__links {
    display: flex;
    align-items: center;
    padding-bottom: 2px;
}

.nav__link {
    margin: 0 24px;
}


.nav__link--primary {
    color: rgb(255, 255,255);
    background-color: rgb(100, 21, 255);
    line-height: 1.5;
    margin: 2px 0px 0px;
    padding: 10px 32px;
    border-radius: 20px;
    border-width: medium;
    border-style: none;
    border-color: currentColor;
    border-image: initial;
    transition: 300ms; 
}

.nav__link {
    font-size: 14px;
    font-weight: 600;
    padding-top: 4px;
    letter-spacing: 0.35px;
    border-bottom: 2px solid transparent; 
    position: relative;
    transition: all 300ms;
}

a {
    display: inline;
    text-decoration: none;
}

.nav__link:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 2px;
    width: 100%;
    background: #6415ff;
    transitioin: all 300ms ease;
    opacity: 0;
}


.btn__menu {
    display: none;
    background: transparent;
    border: none;
    transition: all 300ms ease;
}

.btn__menu--svg:hover {
    filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg) brightness(94%) contrast(115%);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 378px;
    margin: 24px 16px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transform: translateX(300%);
    transition: all 300ms ease;
}

.modal__links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__link {
    color: #1a202c;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 8px 0;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
}

.modal__link--primary {
    color: #f7fafc;
    padding: 12px 32px;
    background: #6415ff;
    border-radius: 500px;
    border: none;
}

.menu--open .modal {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.btn__menu--close {
    position: fixed;
    top: 24px;
    right: 18px;
}


/* 

HEADER / ABOUT US ↓

*/

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
}



.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: 0 auto;
}

.header__description {
  flex: 1;
  width: 40%;

}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__email--input {
    display: flex;
    align-items: center;
}

.header__customers {
    max-width: 100%;
}



.header__email {
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__email--input:focus {
    outline: none;
    border-color:#6415ff;
}

.header__email--input {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 448px;
    height: 52px;
    border-radius: 50px;
    border: 2px solid rgb(229, 231, 235);
    padding: 0 12px;
    margin: 32px 0;
    background-color: #fff;
}

.header__email--input input {
    flex: 1;
    border: none;
    outline: none;
    padding: 0 16px;
    font-size: 16px;
    color: rgb(36, 62, 99);
}

.header__email--input input::placeholder {
    color: #a0aec0;
}

.header__email--btn {
    z-index: 2;
    padding: 10px 24px;
    white-space: nowrap;
    border-radius: 50px;
    border: none;
    background-color:#6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms ease;
    flex-shrink: 0;
}

button {
    cursor: pointer;
}

.header__img {
    max-width: 100%;
    height: auto;
}

.header__img-wrapper {
    width: 60%;
}

.header__customers--title {
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;
}

.header__customers {
    width: 100%;
    max-width: 400px;
    margin-top: 16px;
    opacity: 0.5;
}

/* 

FEATURES ↓

*/


#features {
    position: relative;
}

section {
    padding: 0 32px;
}

.section__title {
    font-size: 48px;
    font-weight: 900;
    color: rgba(6, 62, 99);
    line-height: 1.5;
    margin: 16px 0;
    letter-spacing: 0.025em;
}

#features .section__title {
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
} 

#features .row__narrow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row__narrow {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

#features .section__para {
    text-align: center;
    max-width: 570px;
}

.section__para {
    font-size: 14px;
}

.section__para {
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    margin-top: 48px;
}

.feature {
    flex: 0 1 calc(33.333% - 16px);
    min-width: 280px;
}

@media (max-width: 1024px) {
 .feature {
    width: calc(100% / 2 - 16px);
 }
}

@media (max-width: 768px) {
    .feature {
        flex: 0 1 calc(50% - 12px);
        max-width: 384px;
    }
}

@media (max-width: 1024px) {
    .feauture__row {
        padding: 32px 8px;
        margin: 0 16px;
    }
}

.feature__row {
    display: flex;
    align-items: flex-start;
    padding: 32px 24px;
}

.feature__img--wrapper {
    display: flex;
    padding: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 500px;
}

.feature__img {
    width: 24px;
    height: 24px;
}

.feature__text {
    margin-top: 8px;
    margin-left: 16px;
}

.feature__title {
    font-size: 20px;
    font-weight: 700;
    color: #243e63;
    line-height: 1.5;
    margin-bottom: 8px;
}

@media (max-width: 1024px) {
.feature__title {
    line-height: 1;
    }
}

@media (max-width: 1024px) {
    .feature__para {
        max-width: none;
    }
}

.feature__para {
    margin-top: 16px;
    font-size: 16px;
    color: rgb(124, 139, 161);
    line-height: 2;
    font-weight: 500;
}

/* 

QUALITY WORK ↓

*/


#quality .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section {
    padding: 0 32px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}

.container {
    padding: 96px 0;
}

@media (max-width: 768px) {
    #quality .row {
        flex-direction: column-reverse;
    }
}

#quality .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row {
    width; 100%;
    max-width: 1280px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .quality__description {
        margin: 0;
        padding: 0;
        margin-top: 64px;
        text-align: center;
    }
}

@media (max-width: 1024px) {
    .quality__description {
        margin: 0;
    }
}

.section__tag {
    font-size: 16px;
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;
    text-transform: uppercase;
}

#quality .section__title {
    line-height: 1.25;
}

@media (max-width: 1024px) {
    .section__title {
        font-size: 36px;
    }
}

.section__title {
    font-size: 48px;
    font-weight: 900;
    color: rgba(6, 62, 99);
    line-height: 1.5;
    margin: 16px 0;
    letter-spacing: 0.025em;
}

.purple {
    color:#6415ff;
}

@media (max-width: 768px) {
    .section__para {
        font-size: 14px;
    }
}

.section__para {
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
}

#quality .btn {
    margin-top: 32px;
}

.btn {
    background-color: #6415ff;
    padding: 12px 32px;
    border: none;
    border-radius: 500px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    transition: all 300ms ease;
    cursor: pointer;
}

@media (max-width: 768px) {
    .quality__description {
        padding: 0;
        margin-top: 64px;
        text-align: center;
    }
}

@media (max-width: 1024px) {
    .quality__description {
        margin-right: 0;
    }
}

.quality__img--wrapper {
    border-radius: 4px;
    border: 1px solid rgb(229, 231, 235);
    position: relative;
    margin: 0 56px;
    z-index: 2;
    display: flex;
}

.quality__img {
    z-index: 1;
}

img {
    width: 100%;
}

.quality__grid {
    transform: translateX(50%) translateY(50%) scaleX(1) scaleY(1);
    width: 80px;
    height: 80px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    fill: rgb(100, 21, 255);
    --tw-text-opacity: 1;
    color: rgba(100, 21, 255, var(--tw-text-opacity));
    z-index: 0;
    display: block;
}

/* 

STEPS ↓

*/


#steps .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section {
    padding: 0 32px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}

.container {
    padding: 96px 0;
}

@media (max-width: 768px) {
    #steps .row {
        flex-direction: column;
    }
}

#steps .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.steps__img--wrapper {
    display: flex;
    position: relative;
    flex: 0 0 50%;
    max-width: 50%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.steps__img {
    z-index: 2;
    display: block;
    width: auto;
    max-width: 100%;
    height: auto;
}

img {
    width: 100%;
}

.steps__description {
    flex: 1;
    max-width: 480px;
}

@media (max-width: 768px) {
    .steps__img--wrapper,
    .steps__description {
        width: 100%;
        max-width: 448px;
        flex: 1 1 100%;
    }

    .steps__img--wrapper {
        margin: 0 auto;
    }

    .steps__description {
        padding: 0;
        margin-top: 64px;
        text-align: center;
    }
}

.section__tag {
    font-size: 16px;
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;
    text-transform: uppercase;
}

.section__title {
    font-size: 48px;
    font-weight: 900;
    color: rgb(3, 62, 99);
    line-height: 1.5;
    letter-spacing: 0.025em;
    margin: 16px 0px
}

.purple {
    color: #6415ff;
}

@media (max-width: 1024px) {
    .section__title {
        font-size: 36px;
    }
}

@media (max-width: 768px) {
    .step {
        flex-direction: column;
        align-items: center;
    }
}

.step {
    display: flex;
    align-items: flex-start;
    margin-top: 32px;
}

.step__number {
    color: rgb(203, 213, 224);
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
}

@media (max-width: 768px) {
    .step__number {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .step__description {
        margin-top: 12px;
        margin-left: 0px;
    }
}

.step__description {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    max-width: 320px;
}

@media (max-width: 768px) {
    .step__title {
        width: 100%;
        text-align: center;
    }
}

.step__title {
    font-weight: 600;
    font-size: 20px;
    color: rgb(35, 62, 99);
    line-height: 1;
}

@media (max-width: 768px) {
    .step__para {
        width: 100%;
        text-align: center;
    }
}

.step__para {
    font-size: 14px;
    color: rgb(113, 128, 150);
    margin-top: 12px;
    font-weight: 500;
    line-height: 2;
}



/* 

VALUES ↓

*/

#values .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 768px) {
    #values .row {
        flex-direction: column-reverse;
    }
}


@media (max-width: 768px) {
    .values__description,
    .values__img--wrapper {
        width: 100%;
        max-width: 448px;
    }
}

@media (max-width: 768px) {
    .values__description {
        padding: 0;
        margin-top: 64px;
        text-align: center;
    }
}

.values__description,
.values__img--wrapper {
  width: 50%;
}

.values__description {
  padding: 32px 64px 32px 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.values__list {
  margin-left: 0;
  margin-right: 0;
  display: flex;
  flex-direction: row;
  max-width: none;
}

.value__title {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 20px;
  font-weight: 700;
  color: #243e63;
}

.value__img--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.value__para {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 500;
  color: rgb(124, 139, 161);
  line-height: 1.625;
}

.values__description .btn {
    margin-top: 16px;
    align-self: flex-start;
}



img {
    width: 100%;
}

@media (max-width: 768px) {
    .value:nth-of-type(1) {
        margin-right: 0px;
    }
}

.value:nth-child(1) .value__img--wrapper {
    background-color: #9ae6b4;
}

.value:nth-child(2) .value__img--wrapper {
  background-color: #f3b2b2;
}

.value:nth-of-type(2) {
    margin-top: 32px;
}

.value:nth-of-type(1) {
    margin-top: 32px;
    margin-right: 32px;
}

@media (max-width: 768px) {
    .value {
        margin-right: 0px;
        align-items: center;
    }
}

#values .section__tag {
    font-size: 16px;
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;
    text-transform: uppercase;
}

.value__title img,
.value__img--wrapper img {
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
}

@media (max-width: 768px) {
.vlaue__title {
    align-items: center;
}
}

.purple {
    color: #6415ff;
}

@media (max-width: 768px) {
    .value__para {
        font-size: 14px;
    }
}

#values .btn {
    margin-top: 48px;
} 

@media (max-width: 768px) {
    #values .btn {
        align-self: center;
    }
}


/*

PRICING ↓

*/


#pricing .row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 1024px) {
.plans {
    flex-direction: column;
    align-items: center;

}
.plan {
    width: 100%;
    max-width: 100%;
    margin-right: 0;
}
}

@media (max-width: 768px) {
    .plans {
        width: 100%;
        text-align: center;
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    #pricing .row {
        width: 100%;
        text-align: center;
    }
}

.plans {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}



@media (max-width: 1024px) {
    .plan {
        margin-right: 0px;
    }
}

.plan {
    position: relative;
    margin-top: 4rem;
    display: flex;
    width: 100%;
    max-width: 24rem;
    flex-direction: column;
    border-radius: 0.5rem;
    background-color: rgb(255 255 255);
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 2rem;
    padding-top: 0.5rem;
    text-align: center;
    color: rgb(26 32 44);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

@media (max-width: 768px) {
    .plan {
        width: 100%;
        text-align: center;
        flex-direction:column;
    }
}

.plans .plan:nth-of-type(1) .plan__stripe,
.plans .plan:nth-of-type(1) .plan__button {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan__stripe {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.plan__top {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
    line-height: 1.625;
}

.plans .plan:nth-of-type(odd) .plan__name,
.plans .plan:nth-of-type(odd) .plan__price,
.plans .plan:nth-of-type(odd) .plan__target,
.plans .plan:nth-of-type(2) .plan__name,
.plans .plan:nth-of-type(2) .plan__price,
.plans .plan:nth-of-type(2) .plan__target {
    color: #1a202c;
}

.plan__name {
    font-size: 20px;
}

.plan__name, .plan__price, .plan__duration {
    font-weight: bold;
    line-height: 1.625;
}

.plan__price {
    font-size: 48px;
    margin: 4px 0;
}

.plans .plan:nth-of-type(odd) .plan__duration,
.plans .plan:nth-of-type(2) .plan__duration {
    color: #a0aec0;
}

.plan__duration {
    font-size: 16px;
    letter-spacing: 0.1em;
}

.plans .plan:nth-of-type(1) .plan__middle,
.plans .plan:nth-of-type(2) .plan__middle,
.plans .plan:nth-of-type(3) .plan__middle {
    border-top: 2px solid rgb(229, 231, 235);
    border-bottom: 2px solid rgb(229, 231, 235);
}

.plan__middle {
    margin-left: -2rem;
    margin-right: -2rem;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    border-top-width: 2px;
    border-bottom-width: 2px;
    padding: 2rem;
}

.plan__target {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.025em;
}

.plan__feature {
    margin-top: 20px;
    font-weight: 500;
    color: #718096;
    font-size: 16px;
    line-height: 1.5;
}

@media (max-width: 1280px) {
.plan__bottom {
    padding-left: 2rem;
    padding-right: 2rem;
}
}

.plan__bottom {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

@media (max-width: 1280px) {
    .plan__button {
        max-width: none;
    }
}

@media (max-width: 768px) {
    #plan .row {
        flex-direction: column;
        align-items: center;
    }
}

.plan__button {
    border-radius: 0.25rem;
        background-color: rgb(100 21 255);
    padding: 0.75rem 2rem;
    font-weight: 700;
    color: rgb(247 250 252);
    transition: all 300ms ease;
    width: 100%;
    border-radius: 9999px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

button {
    cursor: pointer;
    border: none;
}

.plans .plan:nth-of-type(2) {
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.plans .plan:nth-of-type(2) .plan__name,
.plans .plan:nth-of-type(2) .plan__price,
.plans .plan:nth-of-type(2) .plan__target,
.plans .plan:nth-of-type(2) .plan__duration,
.plans .plan:nth-of-type(2) .plan__feature {
    color: #f7fafc;
}

.plans .plan:nth-of-type(2) .plan__button {
    color: #6415ff;
    background-color: #f7fafc;
}

.plans .plan:nth-of-type(3) .plan__stripe,
.plans .plan:nth-of-type(3) .plan__button {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.plans__blob {
    z-index: -10;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateX(-50%) translateY(50%) scaleX(1) scaleY(1);
    height: 256px;
    width: 256px;
    opacity: 0.25;
}

/* 

TESTIMONIALS ↓

*/


#testimonials .row {
    display: flex;
}


@media (max-width: 1024px) {
    #testimonials .container {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}


#testimonials .container {
    padding-top: 6rem;
    padding-bottom: 6rem;
}


@media (max-width: 768px) {
    #steps .row, #testimonials .row {
        flex-direction: column;
    }
}

#testimonials .row {
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .quality__description, .quality__img--wrapper, .steps__description, .steps__img--wrapper, .values__description, .values__img, .testimonials__description, .testimonials__img {
        width: 100%;
        max-width: 448px;
    }
}


@media (max-width: 1280px) {
    
.testimonials__img {
        width: 40%;
    }
}


@media (max-width: 768px) {
    .testimonials__description {
        padding-left: 0;
    }
}

@media (max-width: 768px) {
    .quality__description, .steps__description, .values__description, .testimonials__description {
        padding: 0;
        margin-top: 64px;
        text-align: center;
    }
}

@media (max-width: 1024px) {
    
.testimonials__description {
        padding-left: 48px;
    }
}

@media (max-width: 1280px) {
    
.testimonials__description {
        width: calc(100% - 40%);
    }
}

.testimonials__description {
    display: flex;
    flex-direction: column;
    padding-left: 64px;
    width: 55%;
    flex: 1;
}

.testimonials__img {
    width: 46%;
    max-width: 460px;
    flex-shrink: 0;
    height: auto;
    margin-right: 32px;
}

#testimonials .section__title {
    margin-bottom: 24px;
    line-height: 1.25;
}

.testimonial {
    margin-top: 40px;
}

.testimonial__rating {
    color: rgba(246, 173, 85);
    margin-right: 2px;
    margin-top: 4px;
}

.fa-solid, .fas {
    font-weight: 900;
}

.fa-star {
    --fa: "\f005";
}

.fa-classic, .fa-regular, .fa-solid, .far, .fas {
    font-family: "Font Awesome 6 Free";
}

.fa, .fa-brands, .fa-regular, .fa-solid, .fab, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: var(--fa-display, inline-block);
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
}

.fa-star {
    color: rgb(246 173 85);
    display: inline-block;
    height: 1.25rem;
    width: 1.25rem;
}

.testimonial__title {
    color: #4a5568;
    line-height: 1.625;
    margin-top: 1rem;
    font-size: 1.25rem;
    font-weight: 700;
}

.testimonial__para {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-weight: 500;
    line-height: 1.625;
    font-size: 16px;
    color: rgb(74 85 104);
}

.testimonial__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.testimonial__profile {
    display: flex;
    align-items: center;
}

.testimonial__img {
    width: 48px;
    height: 48px;
    border-radius: 9999px;
    object-fit: cover;
}

.testimonial__details {
    margin-left: 16px;
}

.testimonial__name {
    font-size: 0.95rem;
    font-weight: 700;
    color: #2d3748;
}

.testimonial__role {
    font-size: 0.9rem;
    color: #718096;
}

.testimonial__buttons {
    display: flex;
    align-items: center;
}

.testimonial__button {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #e2e8f0;
    border-radius: 0.375rem;
}

.testimonial__button svg {
    width: 18px;
    height: 18px;
}

.divider {
    width: 1px;
    height: 24px;
    background-color: #e2e8f0;
    margin: 0 12px;
}

/* 

START / CALL TO ACTION ↓

*/



#start .row {
    position: relative;
    overflow: hidden;
}

@media (max-width: 1024px) {
    #start .container {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}

#start .row {
    position: relative;
    overflow: hidden;
}

.start__blob--1 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 20rem;
    width: 20rem;
    transform: translate(-5rem, 8rem);
    color: rgb(80 17 204);
    opacity: 0.5;
}

.start__blob--2 {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 20rem;
    width: 20rem;
    transform: translate(5rem, -16rem);
    color: rgb(80 17 204);
    opacity: 0.5;
}

.start__container {
    padding: 96px 0;
    width: 100%;
    background-color: rgb(100, 21, 255);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1024px) {
    .start__row {
        flex-direction: column;
    }
}

.start__row {
    width: 100%;
    margin: 0 auto;
    max-width: 1024px;
    padding: 0 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start__title {
    color: #f7fafc;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    z-index: 2;
}


.start__title, .start__buttons {
    width: 50%;
}

@media (max-width: 1024px) {
    .start__title {
        text-align: center;
        width: 100%;
        max-width: 512px;
    }
}


@media (max-width: 1024px) {
    .start__buttons {
        width: auto;
        margin-top: 24px;
    }
}

.start__buttons {
    display: flex;
    justify-content: flex-end;
}

.start__button:nth-child(1) {
    background: #f56565;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    margin-right: 32px;
    transition: all 300ms ease;
}

@media (max-width: 1024px) {
    .start__button {
        padding: 16px 32px;
    }
}

.start__button {
    padding: 20px 40px;
    border-radius: 500px;
    font-weight: 700;
    font-size: 16px;
    padding: 16px 32px;
    min-width: 160px;
    white-space: nowrap;
    color: #f7fafc;
    line-height: 1.5;
    letter-spacing: 0.025;
    margin: 1px;
    z-index: 2;
}

.start__button:nth-child(2) {
    border: 1px solid rgb(160, 174, 192);
    transition: all 300ms ease;
}



/* 

FOOTER ↓

*/


footer {
    padding: 96px 32px;
    background-color: rgb(100, 21, 255);
    margin-bottom: -32px;
    position: relative;
    overflow: hidden;
}

.footer__blob--1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 320px;
    transform: translateX(-80px) translateY(-128px);
    z-index: 1;
    opacity: 0.5;
}

.footer__blob--2 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 320px;
    height: 320px;
    transform: translateX(128px) translateY(192px);
    z-index: 1;
    opacity: 0.5;
}

@media (max-width: 768px) {
    .footer__columns {
        justify-content: flex-start;
    }
}

.footer__columns {
    margin-top: -48px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .footer__column {
        width: calc(100% / 3);
    }
    .testimonials__description {
        padding-left: 0px;
        width: 100%;
    }
}

.footer__column {
    margin-top: -48px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 2;
}

.footer__column--title {
    font-weight: 700;
    line-height: 1.5;
    color: #f7fafc;
}

.footer__column--link:nth-child(2) {
    margin-top: 24px;
}

.footer__column--link {
    color: #f7fafc;
    font-size: 14px;
    margin-top: 12px;
    line-height: 1.5;
    font-weight: 500;
    position: relative;
    cursor: pointer;
}

.footer__divider {
    width: 100%;
    height: 2px;
    margin: 64px 0;
    background: rgb(116, 44, 255);
}

@media (max-width: 768px) {
    .footer__bottom {
        flex-direction: column;
        align-items: center;
    }
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo {
    display: flex;
    align-items: center;
}

.footer__logo--img {
    height: 32px;
    width: 32px;
}

.footer__logo--text {
    font-size: 20px;
    color: #f7fafc;
    font-weight: 900;
    margin-left: 8px;
    letter-spacing: 0.05em;
}


@media (max-width: 768px) {
    .footer__copyright, .footer__socials {
        margin-top: 32px;
    }
}

.footer__copyright {
    color: #cbd5e0;
    font-weight: 500;
}

@media (max-width: 768px) {
    .footer__socials {
        margin-left: 0px;
    }
}


@media (max-width: 768px) {
    .footer__copyright, .footer__socials {
        margin-top: 32px;
    }
}

.footer__socials {
    display: flex;
    align-items: center;
    margin-left: 16px;
}

@media (max-width: 768px) {
    .footer__social--link:first-child {
        margin-left: 0px;
    }
}

.footer__social--link {
    margin-left: 16px;
    padding: 8px;
    background: #f7fafc;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    z-index: 2;
    cursor: pointer;
    transition: all 300ms ease;
}

.footer__social--link svg {
    height: 16px;
    width: 16px;
}

/* 

MOBILE RESPONSIVENESS ↓

*/


@media(max-width: 1280px) {
    header .row {
        align-items: flex-end;
    }
}

@media (max-width: 1024px) {
    .nav__links {
        display: none;
    }

    .btn__menu {
        display: block;
    }

    header .row {
        flex-direction: column;
        align-items: center;
    }

    .header__content {
        flex-direction: column;
        text-align: center;
    }

    .header__description {
        width: 100%;
        max-width: 560px;
    }

    footer {
        padding: 80px 32px;
    }
}

@media (max-width: 768px) {
    #quality .row,
    #values .row {
        flex-direction: column-reverse;
    }

    #steps .row,
    #testimonials .row {
        flex-direction: column;
        align-items: center;
    }

    #pricing .row {
        margin-top: 40px;
    }

    .steps__img--wrapper,
    .testimonials__img,
    .values__img--wrapper,
    .quality__img--wrapper {
        width: 100%;
        max-width: 448px;
    }
}

@media (max-width: 640px) {
    .container {
        padding: 80px 0;
    }

    .nav__logo {
        margin: 8px 0;
        padding-bottom: 4px;
    }

    main {
        margin-bottom: 80px;
    }

    .header__email--input {
        flex-direction: column;
        height: auto;
        padding: 12px;
        gap: 12px;
    }

    .header__email--input input {
        width: 100%;
        padding: 0;
        text-align: center;
    }

    .header__email--btn {
        width: 100%;
    }

    .header__img--wrapper {
        width: 100%;
    }

    .section__title {
        font-size: 32px;
        line-height: 1.2;
    }

    .section__para {
        font-size: 15px;
    }

    .features {
        gap: 16px;
    }

    .feature {
        flex-basis: 100%;
        min-width: 0;
    }

    .step {
        flex-direction: column;
        align-items: center;
    }

    .step__description {
        max-width: 100%;
        margin-left: 0;
        text-align: center;
    }

    .values__list {
        flex-direction: column;
    }

    .value:nth-of-type(1),
    .value:nth-of-type(2) {
        margin-top: 0;
        margin-right: 0;
    }

    .testimonial__bottom {
        flex-direction: column;
        gap: 16px;
    }

    .start__row {
        flex-direction: column;
    }

    .start__buttons {
        width: 100%;
        flex-direction: column;
        gap: 12px;
    }

    .start__button {
        width: 100%;
    }

    .footer__columns {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 32px 16px;
    }

    .footer__bottom {
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }
}
